<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brisanje knjige</title>
</head>
<body>
     <form action="/delete/:<%= book.id %>" method="POST">
        <button type="submit" value="Izbriši">Izbriši knjigu iz baze podataka</button>
     </form>
</body>
</html>