<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST" id="form1">
        <label for="name">Username</label>
        <br>
        <input type="text" name="name" id="name" required >
        <br>
        <label for="email">Your Email</label>
        <br>
        <input type="email" name="email" id="email" required >
        <br>
        <label for="confirm_email">Confirm Your Email</label>
        <br>
        <input type="email" name="confirm_email" id="confirm_email" required >
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Send" />
    </form>
    <p>Already have an account? <a href="/login">Login</a> instead</p>
</body>
</html>